<?xml version="1.0" encoding="utf-8"?>

<Elementos>
	<Oro>
		<Nombre>Oro</Nombre>
		<SimboloAtomico>Au</SimboloAtomico>
		<DescripcionElemento>
			JBWEÑJWBEFÑKJWBEFÑKJBWEFÑKJW 
			EÑFKH WEÑJFHWÑEJFHVÑHVFÑEÑWEFJWEFWEF
			LEFNLQWEJFBLQEJFBLJQEBFJLQEFBQEFÇB
			QEOFBWEFPIUBJWEFIBEFHBEFWEF
			EFBJWEIFJBWEIJBWEJFBWEJFBWIEJBWIJEVBWJEVBWEV
			EOVBWOVJBWEOJVBOWEJVBOJWEBVOJEBVOJEBVOJBWEVBEV
			BEVUBOEVBWJEVBKWEBVKJWBEVKJBEVKJWBEVKJBWEVKJEBWVKJ
		</DescripcionElemento>
		<DescripcionModeloAtomico>
			JBWEÑJWBEFÑKJWBEFÑKJBWEFÑKJW 
			EÑFKH WEÑJFHWÑEJFHVÑHVFÑEÑWEFJWEFWEF
			LEFNLQWEJFBLQEJFBLJQEBFJLQEFBQEFÇB
			QEOFBWEFPIUBJWEFIBEFHBEFWEF
			EFBJWEIFJBWEIJBWEJFBWEJFBWIEJBWIJEVBWJEVBWEV
			EOVBWOVJBWEOJVBOWEJVBOJWEBVOJEBVOJEBVOJBWEVBEV
			BEVUBOEVBWJEVBKWEBVKJWBEVKJBEVKJWBEVKJBWEVKJEBWVKJ
		</DescripcionModeloAtomico>
		<UsosAplicaciones>
			JBWEÑJWBEFÑKJWBEFÑKJBWEFÑKJW 
			EÑFKH WEÑJFHWÑEJFHVÑHVFÑEÑWEFJWEFWEF
			LEFNLQWEJFBLQEJFBLJQEBFJLQEFBQEFÇB
			QEOFBWEFPIUBJWEFIBEFHBEFWEF
			EFBJWEIFJBWEIJBWEJFBWEJFBWIEJBWIJEVBWJEVBWEV
			EOVBWOVJBWEOJVBOWEJVBOJWEBVOJEBVOJEBVOJBWEVBEV
			BEVUBOEVBWJEVBKWEBVKJWBEVKJBEVKJWBEVKJBWEVKJEBWVKJ
		</UsosAplicaciones>
		<MasaAtomica>1.0070</MasaAtomica>
		<NumeroAtomico>7</NumeroAtomico>
		<Fuente>www.holamundo.com</Fuente>
	</Oro>
</Elementos>